html,
body {
  direction: rtl;
}

.menu .container .donation-btn,
nav > ul,
.menu .theme-btn,
#responsive-menu > span,
.service-carousel .owl-nav > div.owl-next,
.help-us > strong,
.story-Header > span.right,
.story-detail > span.right,
.spent-bar > span.price,
.project-info .goal > i,
.sidebar .widget li a span,
.sponsors-carousel .owl-nav > div.owl-next,
.cart-bottom a,
.product-desc .share-this,
.countries-contact .owl-nav > div.owl-next,
.social-links,
.event-org > ul,
.footer-social-btns,
.owl-carousel.owl-rtl .owl-item,
.select2-container--default
  .select2-selection--single
  .select2-selection__clear,
.select2-container--default
  .select2-selection--multiple
  .select2-selection__clear,
.select2-container--default[dir="rtl"]
  .select2-selection--multiple
  .select2-selection__choice,
.select2-container--default[dir="rtl"]
  .select2-selection--multiple
  .select2-selection__placeholder,
.select2-container--classic
  .select2-selection--single
  .select2-selection__clear,
.select2-container--classic[dir="rtl"]
  .select2-selection--multiple
  .select2-selection__choice,
.socialeMediaIcon {
  float: left;
}

body,
.theme-layout,
section,
.block,
.remove-ext,
.blur,
iframe,
header,
.topbar,
.inline-list,
.inline-list > li,
nav > ul > li,
nav > ul > li > a,
nav > ul > li ul li,
nav > ul > li ul li a,
.sideheader .logo,
.sideheader-menu,
.sideheader-menu > ul li,
.sideheader-menu > ul li a,
.sideheader-menu > ul li ul,
.sideheader-bottom,
.side-megamenu h4,
#responsive-header .topbar ul,
#responsive-menu,
#responsive-menu .logo,
.menu-links > ul,
.menu-links > ul li,
.menu-links > ul li a,
.menu-links > ul li ul,
.show-topbar i,
.popup-form > strong,
.popup-form > p,
.popup-form > form,
.popup-form > form input,
.urgent-cause,
.urgentcause-detail,
.who-we-text,
.urgentcause-detail > span,
.urgentcause-detail h3,
.urgentcause-detail > p,
.urgent-progress,
.amount,
.amount > span,
.circular,
.circular > div,
.urgentcause-gallery,
.urgentcause-gallery a,
.urgent-cause-list,
.title,
.title > span,
.title h2,
.title > p,
.title2 > span,
.video,
.video-title > h3,
.events,
.event-toggle,
.event-bar,
.event-bar h3,
.count-down,
.countdown-amount,
.countdown-section,
.event-desc,
ul.meta,
.upcoming-eventbar,
.event-date > strong,
.volunteer,
.volunteer-inner > span,
.volunteer-inner > strong,
.volunteer-inner > p,
.needed,
.needed-donation,
.overlay-title > h3,
.overlay-donation > span,
.join,
.join h3,
.counters,
.counter-box,
.counter-box > strong,
.counter-box > span,
.blog-list,
.blog-post,
.blog-img,
.blog-img span,
.blog-detail,
.blog-detail > h3,
.blog-detail-page,
.post-intro,
.post-intro ul.meta li,
.blog-detail-page h1.post-title,
.share-this,
.share-this > span,
.share-this > a,
.page-gallery,
.page-gallery-img,
.page-gallery-img a,
.blog-detail-page blockquote,
.tagclouds,
.heading,
.heading h3,
.tagclouds > a span,
.tagclouds > a,
.comments-thread,
.comments-thread ul,
.comments-thread ul li,
.comment,
.comment > img,
.comments,
.comments > p,
.comments > form,
.field,
.button,
.cause-detail,
.cause-detail > span,
.cause-detail > strong,
.special-services,
.about-service-inner > span,
.about-service-inner h2,
.about-service-inner > strong,
.about-service-inner > p,
.services-list > ul li,
.service-block,
.service-block-inner h3,
.service-block-inner h3 a,
.service-block-inner > p,
.service-carousel,
.service-ways,
.service-box,
.service-box > h3,
.service-box > p,
.service-carousel .owl-nav > div,
.who-we-are,
.who-we-text,
.who-we-detail,
.collected-donation,
.collected-donation > span,
.help-needed,
.help,
.help-img,
.help-detail,
.cats,
.help-detail > h3,
.donate-btn > span,
.products-list,
.product,
.product-img,
.product .TotalCount .col-md-3,
.product > h4,
.product > span,
.fancy-projects,
.urgent,
.cause-title span,
.cause-title h5,
.clients-testimonials,
.review,
.review > span,
.urgent-parallax,
.urgent-parallax > strong,
.urgent-parallax > p,
.urgent-progress .progress,
.percent,
.progress-border,
.goal,
.causes-carousel,
.fancy-cause,
.fancy-cause-detail > span,
.fancy-cause-detail h4,
.fancy-cause-detail > p,
.counting > i,
.successful-stories,
.story,
.story-img,
.story-Header,
.story-Header h3,
.story-detail,
.story-detail h3,
.spent-bar,
.welfare-projects-carousel,
.welfare-project,
.project-info > h3,
.project-hover > h3,
.project-hover .goal,
.special-deals,
.deal-selector,
.deal,
.deal-desc > ul,
.project-progress ul,
.deal-desc > ul li,
.project-progress ul li,
.deal-desc > ul li a,
.project-progress ul li a,
.deal-desc > h4,
.deal-desc > span,
.deal-desc > p,
.deal-detail-carousel,
.project-progress h4,
.choose-us,
.choose-us > p,
.toggle,
.toggle-item,
.toggle-item h2,
.content,
.content p,
.upcoming-event,
.upcoming-img,
.upcoming-detail,
.upcoming-detail > h4,
.urgent-cause-progress,
.urgent-cause-inner > h3,
.urgent-cause-inner > strong,
.blank-space,
.all-posts,
.post-listview,
.post-img,
.post-img > span > i,
.post-detail,
.post-detail > h3,
.post-detail > p,
.more,
.loadmore,
.widget,
.widget-title,
.widget-title h4,
.widget-title > span,
.blog-widget,
.widget-post,
.widget-post > a,
.widget .widget-post ul li,
.widget .widget-post ul li a,
.video-widget,
.sidebar .widget li,
.sidebar .widget li a,
.event-widget,
.event-overlay-inner h5,
.gallery-widget,
.gallery-widget .row > div a,
.sponsors-carousel,
.sponsor,
.sponsor > a,
.sponsors-carousel .owl-nav > div,
.countries,
.countries-list,
.page-top,
.page-title,
.page-top h2,
.page-title > ul,
.gallery-page,
.gallery,
.gallery-img,
.gallery-detail,
.gallery-detail > ul,
.gallery-detail h3,
.cart-table,
.cart-box,
.cart-heading,
.cart-heading > ul,
.cart-table ul li,
.cart-list,
.cart-item,
.cart-item > ul,
.cart-item img,
.cart-item span,
.cart-item i,
.cart-item span.remove,
.input-group,
.input-group span.input-group-btn button.btn,
.cart-bottom,
.button,
.cart-heading h5,
.shipping,
.cart-price,
.cart-detail,
.cart-detail h4,
.cart-detail,
.cart-detail p,
.checkbox,
.radio,
.form-field,
.choice,
.form,
.password,
.label,
.order-rec,
.order-rec > h4,
.product-detail,
.product-detail,
.product-desc,
.product-desc > strong,
h2.product-name,
.product-desc > span,
.product-count,
.product-count h6,
.product-count .input-group,
.product-desc .button,
.search-filters,
.search-filters > h4,
.select2,
.select2-container .select2-selection--single,
.select2-container span.selection,
.search-page h5,
.search-page > p,
.field,
.map,
.contact-box,
.countries-contact .nav,
.countries-contact .nav,
.countries-contact .nav li,
.countries-contact .nav li a,
.countries-contact .nav li.active a,
.countries-contact .nav li a img,
.countries-contact .owl-nav > div,
.countries-contact .tab-content,
.contact-info,
.contact-info strong,
.contact-info span,
.contact-form,
.contact-form input,
.contact-form textarea,
.contact-form button,
.full-border,
#message,
.error_message,
.members,
.team-member,
.member-img,
.member-social > span,
.social-links > a,
.social-links > a:hover,
.team-member > h4,
.team-member > i,
.team-detail,
#team-detail-img,
#team-detail-img p,
.team-desc,
.join-team,
.join-team > h4,
.join-team > p,
.all-skills,
.skills,
.skills > span,
.event-time,
.event-org,
.event-org > h4,
.event-org li,
.charity-events,
.all-projects,
.n-popup-c > strong,
.n-popup-c > p,
.n-popup-c > form,
.submit-bar,
.donation-intro,
.make-donation,
.make-donation span,
.make-donation h5,
.make-donation p,
.payment-box,
.frequency,
.frequency li,
.frequency li a,
.your-donation,
.popup-title,
ul.donation-figures,
.wpdonation-button,
.donation-figures li a,
.textfield,
.textfield input,
.textfield textarea,
.donation-amount,
.wpdonation-box .nav,
.wpdonation-box > .tab-content,
.payment-type h3,
.wpdonation-box .tab-content .tab-content,
.wpdonation-box .tab-content .tab-content p,
.form,
.donate-now,
.select-payment,
.personal-detail,
.payment-footer,
.payment-type .nav,
.payment-type > .tab-content,
.payment-type .tab-content p,
.form,
footer,
.footer-widgets,
footer .widget ul,
.contact-widget h5,
.twitter-feed,
.tweet,
.tweet blockquote,
.footer-bar,
.newsletter-signup,
.social a,
.social a i,
.bottom-bar,
.banner-inner > h5,
.banner-subtitle,
.banner-inner > strong,
.owl-carousel .owl-item,
.select2-container .select2-search--inline,
.select2-container--default[dir="rtl"]
  .select2-selection--single
  .select2-selection__clear,
.select2-container--default
  .select2-selection--multiple
  .select2-selection__placeholder,
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice,
.select2-container--classic[dir="rtl"]
  .select2-selection--single
  .select2-selection__clear,
.select2-container--classic
  .select2-selection--multiple
  .select2-selection__choice,
.simple-info,
.bg-image,
.simple-info h5,
.simple-info h5 span,
.news-room,
.news,
.news-title > h3,
.message,
.message blockquote,
.simple-parallax-text,
.simple-parallax-text > span,
simple-parallax-text h6,
.simple-parallax-text > p,
.mockup-img,
.fancy-counters,
.fancy-counter-box,
.fancy-counter-box > h5,
.fancy-counter-box strong,
.person-donate-sec,
.person-thumb,
.person-donate-info,
.single-donate-info > span,
.single-donate-info > h3,
.single-donate-info > p,
.single-donate-info > h4,
.single-donate-info > i,
.person-donate,
.person-donates > ul,
.person-donates > ul > li,
.single-donate-car,
.single-donate-car .owl-nav > div,
.donation-page,
.donation-page .popup-centralize,
.donatees-sec,
.donatess,
.donatess > span,
.donatess img,
.donatees-info,
.donatees-info > h4,
.donatees-info h3,
.donatees-info > a,
.ask-question p,
.ask-question,
.volunteer-thumb,
.become-volunteer .white-bg button,
.white-bg span,
.modern-gallery,
.mod-gallery-img,
.mod-gallery-info > a i,
.mod-gallery-detail,
.mod-gallery-detail h3,
.gallery-detail-page,
.gallery-detail-top,
.gallery-detail-title,
.gallery-filters,
.gallery-box,
.options,
.option-combo,
.option-set li,
.option-set li a,
.services-listing,
.service-detail > span,
.service-detail h3,
.service-detail-page,
.service-detail-page > h2,
.service-detail-img,
.service-features-wrapper,
.service-features-wrapper > span,
.service-features-wrapper h3 {
  float: right;
}

.ul.donation-figures {
  margin-left: auto;
}

.rotat-en{
    transform: unset;
}

